<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/stylesheets/pygment_trac.css" type="text/css" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen, projection" />
	{% include analytics.html %}
</head>

<body>

<div class="site">
  <div class="title">
    <a href="/">Erlbits</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        <a href=https://twitter.com/HarryWeppner>@HarryWeppner</a>
       </p>
    </div>
  </div>
</div>
